<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head', {title: "Home"})%>


    <body>
        
        <%- include('./partials/header')%>

        <main>
            <div>
                <img src="/img/users/<%=usuarioEncontrado.image%>">
            </div>
            <div class="infoUser">
                <h4>Nombre:</h4><p><%=usuarioEncontrado.name%></p>
                <h4>Apellido:</h4><p><%=usuarioEncontrado.lastName%></p>
           </div>
           <a href="/users/edit/<%=usuarioEncontrado.id%>"><h3>Editar usuario</h3></a>
        </main>
        
        <%- include('./partials/footer')%>


    </body>
</html>