<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head', {title: "Home"})%>

<body>
    <%- include('./partials/header')%>

    <main id="formulario-registro">
        <h3>Completá tus datos</h3>
        <form class="formularios" action="/users/create" method="POST" enctype="multipart/form-data" id="register_form">
            <div>
                <label>Nombre:</label>
                <input class="text-field" type="text" name="name" id="name" value="<%= locals.oldData ? oldData.name : null%>">
                <p class="error-message" id="name-error"></p>
            </div>
            <div>
                <label>Apellido:</label>
                <input class="text-field" type="text" name="last_name" id="last_name" value="<%= locals.oldData ? oldData.last_name : null%>">
                <p class="error-message" id="last_name-error"></p>
            </div>
            <div>
                <label>E-mail:</label>
                <input class="text-field" type="email" name="email" id="email" value="<%= locals.oldData ? oldData.email : null%>">
                <p class="error-message" id="email-error"></p>
            </div>
            <div>
                <label>Contraseña:</label>
                <input class="text-field" type="password" name="password" id="password">
                <p class="error-message" id="password-error"></p>
            </div>
            <div>
                <label>Repetí tu contraseña:</label>
                <input class="text-field" type="password" name="repeat_password" id="repeat_password">
                <p class="error-message" id="repeat_password-error"></p>
            </div>
            <div>
                <label>Imagen de perfil</label>
                <input name="image" type="file" id="image">
                <p class="error-message" id="image-error"></p>
            </div>
            <button class="botonForm botonSubmit" type="submit">Registrate</button>
        </form>
    </main>

    <%- include('./partials/footer')%>
    <script src="/js/register.js"></script>
</body>
</html>
