<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head', {title: "Home"})%>

    <body>
        <%- include('./partials/header')%>
        <main id="formulario-registro">
            <h3>Completá tus datos</h3>
            <form class="formularios" action="/products/create" method="POST" enctype="multipart/form-data">
                <div>
                    <label>Nombre:</label>
                    <input class="text-field" input="text" name="name" value="<%= locals.oldData ? oldData.name : null%>">
                    <% if(locals.errors && errors.name) { %>
                        <p class="error">
                        <%= errors.name.msg %></p>
                    <% } %>
                </div>
                <div>
                    <label>Descripción:</label>
                    <input name="description" type="text" class="text-field" value="<%= locals.oldData ? oldData.description : null%>">
                    <% if(locals.errors && errors.description) { %>
                        <p class="error">
                        <%= errors.description.msg %></p>
                    <% } %>
                </div>
                <div>
                    <label>Titulo:</label>
                    <input class="text-field" input="text" name="title" value="<%= locals.oldData ? oldData.title : null%>">
                    <% if(locals.errors && errors.title) { %>
                        <p class="error">
                        <%= errors.title.msg %></p>
                    <% } %>
                </div>
                <div>
                    <label>Direccion:</label>
                    <input class="text-field" input="text" name="location" value="<%= locals.oldData ? oldData.location : null%>">
                    <% if(locals.errors && errors.location) { %>
                        <p class="error">
                        <%= errors.location.msg %></p>
                    <% } %>
                </div>
                <div>
                    <label>Imagen del producto</label>
                    <input name="image" type="file">
                </div>
                <div>
                    <label>Price:</label>
                    <input name="price" type="number" class="text-field" value="<%= locals.oldData ? oldData.price : null%>">
                    <% if(locals.errors && errors.price) { %>
                        <p class="error">
                        <%= errors.price.msg %></p>
                    <% } %>
                <div>
                <div>
                    <br>
                    <label for="">Categoría: </label>
                    <br>
                    <input type="radio" id="opcion1" name="opcion" value="Entretenimiento">
                    <label for="opcion1">Entretenimiento</label>
                    <br>
                    <input type="radio" id="opcion2" name="opcion" value="Gastronomía">
                    <label for="opcion2">Gastronomía</label>
                    <br>
                    <input type="radio" id="opcion3" name="opcion" value="Cultura">
                    <label for="opcion2">Cultura</label>
                </div>
                <div>
                    <label>Descuento (%):</label>
                    <input name="discount" type="number" class="text-field" value="<%= locals.oldData ? oldData.discount : null%>">
                    <% if(locals.errors && errors.discount) { %>
                        <p class="error">
                        <%= errors.discount.msg %></p>
                    <% } %>
                </div>
                <div>
                    <label>Fecha:</label>
                    <input name="date" type="date" class="text-field" value="<%= locals.oldData ? oldData.date : null%>">
                    <% if(locals.errors && errors.date) { %>
                        <p class="error">
                        <%= errors.date.msg %></p>
                    <% } %>
                </div>
                <div>
                    <label>Hora:</label>
                    <input name="time" type="time" class="text-field" value="<%= locals.oldData ? oldData.time : null%>">
                    <% if(locals.errors && errors.time) { %>
                        <p class="error">
                        <%= errors.time.msg %></p>
                    <% } %>
                </div>
                <div>
                    <label>Capacidad:</label>
                    <input name="maximumCapacity" type="number" class="text-field" value="<%= locals.oldData ? oldData.maximumCapacity : null%>">
                    <% if(locals.errors && errors.maximumCapacity) { %>
                        <p class="error">
                        <%= errors.maximumCapacity.msg %></p>
                    <% } %>
                </div>
                <div>
                    <label>Duracion (minutos):</label>
                    <input name="duration" type="time" class="text-field" value="<%= locals.oldData ? oldData.duration : null%>">
                    <% if(locals.errors && errors.duration) { %>
                        <p class="error">
                        <%= errors.duration.msg %></p>
                    <% } %>
                </div>
                  
                <div>
                    <button class="botonForm botonSubmit" type="submit">Crear producto!</button>
                </div>

            </form>
        </main>

        <%- include('./partials/footer')%>

    </body>
</html>






















