<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head', {title: "Home"})%>

    <body class="formulario-creacion-producto">
        <%- include('./partials/header')%>
        <main id="formulario-registro">
            <h3>Crea una nueva experiencia</h3>
            <form class="formularios" action="/products/create" method="POST" enctype="multipart/form-data" id="create_product_form">
                <div>
                    <label>Nombre:</label>
                    <input class="text-field" type="text" name="name" id="name" value="<%= locals.oldData ? oldData.name : null%>">
                    <p class="error-message" id="name-error"></p>
                </div>
                <div>
                    <label>Descripción:</label>
                    <input name="description" type="text" class="text-field" id="description" value="<%= locals.oldData ? oldData.description : null%>">
                    <p class="error-message" id="description-error"></p>
                </div>
                <div>
                    <label>Titulo:</label>
                    <input class="text-field" input="text" name="title" id = "title" value="<%= locals.oldData ? oldData.title : null%>">
                    <p class="error-message" id="title-error"></p>
                </div>
                <div>
                    <label>Direccion:</label>
                    <input class="text-field" input="text" name="location" id="location" value="<%= locals.oldData ? oldData.location : null%>">
                    <p class="error-message" id="location-error"></p>
                </div>
                <div class="file-upload-wrapper">
                    <label>Imagen de Producto</label>
                    <button class="custom-file-upload">Seleccionar imagen</button>
                    <input name="image" type="file" id="image" style="display: none;">
                    <span class="file-name" id="file-name">Ningún archivo seleccionado</span>
                    <p class="error-message" id="image-error"></p>
                    <img id="image-preview" src="#" alt="Previsualización de imagen" style="display:none; max-width: 200px; margin-top: 10px;">
                </div>            
                <div>
                    <label>Price:</label>
                    <input name="price" type="number" class="text-field" id="price" value="<%= locals.oldData ? oldData.price : null%>">
                    <p class="error-message" id="price-error"></p>
                </div>
                <div>
                    <select name="categoria" id="categoria">
                        <option value="5">Entretenimiento</option>
                        <option value="1">Gastronomía</option>
                        <option value="4">Cultura</option>
                    </select>
                </div>
                <div>
                    <label>Descuento (%):</label>
                    <input name="discount" type="number" class="text-field" id="discount" value="<%= locals.oldData ? oldData.discount : null%>">
                    <p class="error-message" id="discount-error"></p>
                </div>
                <div>
                    <label>Fecha:</label>
                    <input name="date" type="date" class="text-field" id="date" value="<%= locals.oldData ? oldData.date : null%>">
                    <p class="error-message" id="date-error"></p>
                </div>
                <div>
                    <label>Hora:</label>
                    <input name="time" type="time" class="text-field" id="time" value="<%= locals.oldData ? oldData.time : null%>">
                    <p class="error-message" id="time-error"></p>
                </div>
                <div>
                    <label>Capacidad:</label>
                    <input name="maximumCapacity" type="number" class="text-field" id="maximumCapacity" value="<%= locals.oldData ? oldData.maximumCapacity : null%>">
                    <p class="error-message" id="maximumCapacity-error"></p>
                </div>
                <div>
                    <label>Duracion (minutos):</label>
                    <input name="duration" type="number" class="text-field" id="duration" value="<%= locals.oldData ? oldData.duration : null%>">
                    <p class="error-message" id="duration-error"></p>
                </div>
                <div>
                    <button class="botonForm botonSubmit" type="submit">Crear producto!</button>
                </div>
            </form>
        </main>

        <%- include('./partials/footer')%>
        <script src="/js/createProducts.js"></script>
    </body>
</html>
