<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head', {title: "Home"})%>

<body>
    <%- include('./partials/header')%>
    <main>
        <h3>Modificá tu Usuario</h3>
        <form class="formularios"action="/users/edit/<%= usuarioEncontrado.id %>?_method=PUT" method="post" enctype="multipart/form-data">
            <div>
                <label>Nombre:</label>
                <input class="text-field" type="text" name="name" value="<%=usuarioEncontrado.name%>">
            </div>
           <div>
                <label>Apellido:</label>
                 <input class="text-field" type="text" name="last_name" value="<%=usuarioEncontrado.last_name%>">
           </div>
            <div>
                <label>E-mail:</label>
                <input class="text-field" type="email" name="email" value="<%=usuarioEncontrado.email%>">
            </div>
            <div>
                <label>Contraseña:</label>
                <input class="text-field" type="password" name="password" value="<%=usuarioEncontrado.password%>">
            </div>
            <div>
                <label>Repetí tu contraseña:</label>
                <input class="text-field" type="password" name="repeat_password" value="<%=usuarioEncontrado.repeatPassword%>">
            </div>
            <div>
                <label>Imagen del producto</label>
                <img src="/img/users/<%=usuarioEncontrado.image%>">
                <div>
                    <input name="image" type="file">
                </div>
            </div>
            <div>
                <input type="radio" id="opcion1" name="opcion" value="Comprador" <% if (usuarioEncontrado.category === 'Comprador') { %>checked<% } %>>
                <label for="opcion1">Comprador</label>
                <br>
                <input type="radio" id="opcion2" name="opcion" value="Administrador" <% if (usuarioEncontrado.category === 'Administrador') { %>checked<% } %>>
                <label for="opcion2">Administrador</label>
            </div>
                <button class="botonForm botonSubmit" type="submit">Modificar usuario</button>
            </div>
        </form>
        <form  action="/users/delete/<%=usuarioEncontrado.id%>?_method=DELETE" method="post" display>
            <button class="botonForm botonReset" type="submit">Eliminar</button>
        </form> 
    </main>

        <%- include('./partials/footer')%>
    </body>
</html>