<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head', {title: "Home"})%>
    <body>
        <%- include('./partials/header')%>
        <main>
            <section>
                <h2 class="edicion"> Seleccioná el producto a editar </h2>
                <div class="productos">
                    <% productos.forEach((row) => {%>
                    <article class="prod">
                        <a href="/products/edit/<%=row.id %>" class="prodEdit">
                            <div class="foto-container">
                                <img src="/img/<%= row.image %>" alt="imagen">
                            </div>
                            <div class="info-articulos">
                                <h4 class = "name"> <%= row.name %></h4>
                            </div>
                            <form id="borrar-prod" action="/products/delete/<%=row.id%>?_method=DELETE" method="post">
                                <button type="submit" id="tacho"><i class="fa-solid fa-trash"></i></button>
                            </form>
                        </a>
                    </article>
                     <% } ) %>
                </div>
            </section>
        </main>
        <%- include('./partials/footer')%>
        <script src="/js/eliminarProd.js"></script>
    </body>
</html>