<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head', {title: "Home"})%>

<body>
    <%- include('./partials/header')%>

    <main id="formulario-registro">
        <h3>Editá los datos del producto</h3>
        <form class="formularios" action="/products/edit/<%= productoEncontrado.id %>?_method=PUT" method="post" enctype="multipart/form-data" id="edit_product_form">
            
            <div>
                <label>Nombre:</label>
                <input class="text-field" type="text" name="name" id="name" value="<%= locals.oldData ? oldData.name : productoEncontrado.name%>">
                <p class="error-message" id="name-error"></p>
            </div>
            
            <!-- Descripción -->
            <div>
                <label>Descripción:</label>
                <input class="text-field" type="text" name="description" id="description" value="<%= locals.oldData ? oldData.description : productoEncontrado.description%>">
                <p class="error-message" id="description-error"></p>
            </div>

            <div>
                <label>Titulo:</label>
                <input class="text-field" type="text" name="title" id="title" value="<%= locals.oldData ? oldData.title : productoEncontrado.title%>">
                <p class="error-message" id="title-error"></p>
            </div>

            <!-- Direccion -->
            <div>
                <label>Direccion:</label>
                <input class="text-field" type="text" name="location" id="location" value="<%= locals.oldData ? oldData.location : productoEncontrado.location%>">
                <p class="error-message" id="location-error"></p>
            </div>

            <div>
                <label>Imagen del producto</label>
                <img src="/img/<%=productoEncontrado.image%>" alt="Imagen Producto" height="50px">
                <input name="image" type="file" id="image" value="<%= locals.oldData ? oldData.image : productoEncontrado.image%>">
                <p class="error-message" id="image-error"></p>
            </div>

            <div>
                <label>Price:</label>
                <input name="price" type="number" class="text-field" id="price" value="<%= locals.oldData ? oldData.price : productoEncontrado.price%>">
                <p class="error-message" id="price-error"></p>
            </div>

            <div>
                <label for="categoria">Categoría:</label>
                <br>
                <select name="categoria" id="categoria">
                    <option value="5">Entretenimiento</option>
                    <option value="1">Gastronomía</option>
                    <option value="4">Cultura</option>
                </select>
            </div>
            

            <div>
                <label>Descuento (%):</label>
                <input name="discount" type="number" class="text-field" id="discount" value="<%= locals.oldData ? oldData.discount : productoEncontrado.discount%>">
                <p class="error-message" id="discount-error"></p>
            </div>

            <div>
                <label>Fecha:</label>
                <input name="date" type="date" class="text-field" id="date" value="<%= locals.oldData ? oldData.date : productoEncontrado.date%>">
                <p class="error-message" id="date-error"></p>
            </div>

            <!-- Hora -->
            <div>
                <label>Hora:</label>
                <input name="time" type="time" class="text-field" id="time" value="<%= locals.oldData ? oldData.time : productoEncontrado.time%>">
                <p class="error-message" id="time-error"></p>
            </div>

            <div>
                <label>Capacidad:</label>
                <input name="maximumCapacity" type="number" class="text-field" id="maximumCapacity" value="<%= locals.oldData ? oldData.maximumCapacity : productoEncontrado.maximumCapacity%>">
                <p class="error-message" id="maximumCapacity-error"></p>
            </div>

            <div>
                <label>Duracion (minutos):</label>
                <input name="duration" type="number" class="text-field" id="duration" value="<%= locals.oldData ? oldData.duration : productoEncontrado.duration%>">
                <p class="error-message" id="duration-error"></p>
            </div>
            <button class="botonForm botonSubmit" type="submit">Editar producto</button>
        </form>
    </main>

    <%- include('./partials/footer')%>
    <script src="/js/editProducts.js"></script>

</body>
</html>


