<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head', {title: "Home"})%>

    <body>
        <%- include('./partials/header')%>
        <main id="formulario-registro">
            <h3>Completá tus datos</h3>
            <form class="formularios" action="/products/edit/<%= productoEncontrado.id %>?_method=PUT" method="post" enctype="multipart/form-data">
                <div>
                    <label>Nombre:</label>
                    <input class="text-field" input="text" name="name" value="<%=productoEncontrado.name%>">
                </div>
                <div>
                    <label>Descripción:</label>
                    <input name="description" type="text" class="text-field" value="<%=productoEncontrado.description%>">
                </div>
                <div>
                    <label>Imagen del producto</label>
                    <img src="/img/<%=productoEncontrado.image%>">
                    <div>
                        <input type="file" name="image" id="image">
                    </div>
                </div>
                <div>
                    <label>Price:</label>
                    <input name="price" type="number" class="text-field" value="<%=productoEncontrado.price%>">
                <div>
                    <input type="radio" id="opcion1" name="opcion" value="Entretenimiento" <% if (productoEncontrado.category === 'Entretenimiento') { %>checked<% } %>>
                    <label for="opcion1">Entretenimiento</label>
                    <br>
                    <input type="radio" id="opcion2" name="opcion" value="Gastronomía" <% if (productoEncontrado.category === 'Gastronomía') { %>checked<% } %>>
                    <label for="opcion2">Gastronomía</label>
                    <br>
                    <input type="radio" id="opcion3" name="opcion" value="Cultura" <% if (productoEncontrado.category === 'Cultura') { %>checked<% } %>>
                    <label for="opcion2">Cultura</label>
                </div>
                <div>
                    <label>Descuento (%):</label>
                    <input name="discount" type="number" class="text-field" value="<%=productoEncontrado.discount%>">
                </div>
                <button class="botonForm botonSubmit" type="submit">Editar producto</button>
                <br>
            </form>
            <form action="/products/delete/<%=productoEncontrado.id%>?_method=DELETE" method="post" display>
                <button class="botonForm botonReset" type="submit">Eliminar</button>
            </form>      

        </main>

        <%- include('./partials/footer')%>

    </body>
</html>






