<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head', {title: "Home"})%>

    <body>
        <%- include('./partials/header')%>
        <main id="formulario-registro">
            <h3>Editá los datos del producto</h3>
            <form class="formularios" action="/products/edit/<%= productoEncontrado.id %>?_method=PUT" method="post" enctype="multipart/form-data">
                <div>
                    <label>Nombre:</label>
                    <input class="text-field" input="text" name="name" value="<%= locals.oldData ? oldData.name : productoEncontrado.name%>">
                    <% if(locals.errors && errors.name) { %>
                        <p class="error">
                        <%= errors.name.msg %></p>
                    <% } %>
                </div>
                <div>
                    <label>Descripción:</label>
                    <input name="description" type="text" class="text-field" value="<%= locals.oldData ? oldData.description : productoEncontrado.description%>">
                    <% if(locals.errors && errors.description) { %>
                        <p class="error">
                        <%= errors.description.msg %></p>
                    <% } %>
                </div>
                <div>
                    <label>Titulo:</label>
                    <input class="text-field" input="text" name="title" value="<%= locals.oldData ? oldData.title : productoEncontrado.title%>">
                    <% if(locals.errors && errors.title) { %>
                        <p class="error">
                        <%= errors.title.msg %></p>
                    <% } %>
                </div>
                <div>
                    <label>Direccion:</label>
                    <input class="text-field" input="text" name="location" value="<%= locals.oldData ? oldData.location : productoEncontrado.location%>">
                    <% if(locals.errors && errors.location) { %>
                        <p class="error">
                        <%= errors.location.msg %></p>
                    <% } %>
                </div>
                <div>
                    <label>Imagen del producto</label>
                    <img src="/img/<%=productoEncontrado.image%>" alt="Imagen Producto" height="50px">
                    <input name="image" type="file" value="<%= locals.oldData ? oldData.image : productoEncontrado.image%>">
                </div>
                <div>
                    <label>Price:</label>
                    <input name="price" type="number" class="text-field" value="<%= locals.oldData ? oldData.price : productoEncontrado.price%>">
                    <% if(locals.errors && errors.price) { %>
                        <p class="error">
                        <%= errors.price.msg %></p>
                    <% } %>
                </div>
                <div>
                    <br>
                    <label for="">Categoría: </label>
                    <br>
                    <input type="radio" id="5" name="categoria" value="Entretenimiento">
                    <label for="opcion1">Entretenimiento</label>
                    <br>
                    <input type="radio" id="1" name="categoria" value="Gastronomía">
                    <label for="opcion2">Gastronomía</label>
                    <br>
                    <input type="radio" id="4" name="opcion" value="Cultura">
                    <label for="opcion2">Cultura</label>
                </div>
                <div>
                    <label>Descuento (%):</label>
                    <input name="discount" type="number" class="text-field" value="<%= locals.oldData ? oldData.discount : productoEncontrado.discount%>">
                    <% if(locals.errors && errors.discount) { %>
                        <p class="error">
                        <%= errors.discount.msg %></p>
                    <% } %>
                </div>
                <div>
                    <label>Fecha:</label>
                    <input name="date" type="date" class="text-field" value="<%= locals.oldData ? oldData.date : productoEncontrado.date%>">
                    <% if(locals.errors && errors.date) { %>
                        <p class="error">
                        <%= errors.date.msg %></p>
                    <% } %>
                </div>
                <div>
                    <label>Hora:</label>
                    <input name="time" type="time" class="text-field" value="<%= locals.oldData ? oldData.time : productoEncontrado.time%>">
                    <% if(locals.errors && errors.time) { %>
                        <p class="error">
                        <%= errors.time.msg %></p>
                    <% } %>
                </div>
                <div>
                    <label>Capacidad:</label>
                    <input name="maximumCapacity" type="number" class="text-field" value="<%= locals.oldData ? oldData.maximumCapacity : productoEncontrado.maximumCapacity%>">
                    <% if(locals.errors && errors.maximumCapacity) { %>
                        <p class="error">
                        <%= errors.maximumCapacity.msg %></p>
                    <% } %>
                </div>
                <div>
                    <label>Duracion (minutos):</label>
                    <input name="duration" type="number" class="text-field" value="<%= locals.oldData ? oldData.duration : productoEncontrado.duration%>">
                    <% if(locals.errors && errors.duration) { %>
                        <p class="error">
                        <%= errors.duration.msg %></p>
                    <% } %>
                </div>
                <button class="botonForm botonSubmit" type="submit">Editar producto</button>
                <br>
            </form>
            <form action="/products/delete/<%=productoEncontrado.id%>?_method=DELETE" method="post" display>
                <button class="botonForm botonReset" type="submit">Eliminar</button>
            </form>      

        </main>

        <%- include('./partials/footer')%>
        <script src="/js/editProducts.js">

        </script>

    </body>
</html>






