<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head', {title: "Home"})%>


    <body>

        <%- include('./partials/header') %>

        <section>
            <div class="presentacion">
                <img class="buenosAires" src="/img/banner.jpg" alt="foto-BA">
                <p class="texto-presentacion"> Bienvenidos a Buenos Aires, la capital de Argentina y uno de los destinos turísticos más emocionantes de Sudamérica.


                    Aquí encontrarás una variedad de experiencias que satisfarán todos tus intereses. Podrás degustar la famosa gastronomía porteña, disfrutar de la cultura y la historia en los museos y monumentos emblemáticos de la ciudad, y sentir la pasión del fútbol argentino.
                
                
                    Ven a Buenos Aires y vive una experiencia única e inolvidable.
                </p>
            </div>
        </section>

        <main>
            <section>
                <h3 class="secciones">Oportunidades</h3>
                <div class="productos">
                    <% oportunidades.forEach((row) => {%>
                    <article class="prod">
                        <div class="foto-container">
                            <a href="/products/description/<%=row.id %>"><img src="/img/<%= row.image %>" alt="imagen"></a>
                        </div>
                        <div class="info-articulos">
                            <h4 class="name"> <%= row.name %></h4>
                            <h4 class="price">$<%= row.price %></h4>
                        </div>
                    </article>
                     <% } ) %>
                   
                </div>
            </section>
            <section>
                <h3 class="secciones">Imperdibles</h3>
                <div class="productos">
                    <% imperdibles.forEach((row) => {%>
                        <article class="prod">
                            <div class="foto-container">
                                <a href="/products/description/<%=row.id %>"><img src="/img/<%= row.image %>" alt="imagen"></a>
                            </div>
                            <div class="info-articulos">
                                <h4 class = "name"> <%= row.name %><h4>
                                <h4 class = "price">$<%= row.price %><h4>
                                    
                            </div>
                        </article>
                         <% } ) %>
                </div>
            </section>
            <section>
                <h3 class="secciones">¡Nuevas Experiencias!</h3>
                <div class="productos">
                    <% nuevas.forEach((row) => {%>
                        <article class="prod">
                            <div class="foto-container">
                                <a href="/products/description/<%=row.id %>"><img src="/img/<%= row.image %>" alt="imagen"></a>
                            </div>
                            <div class="info-articulos">
                                <h4 class = "name"> <%= row.name %><h4>
                                <h4 class = "price">$<%= row.price %><h4>
                            </div>
                        </article>
                         <% } ) %>
                </div>
            </section>
        </main>
        
        <%- include('./partials/footer')%>


    </body>
</html>