<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head', {title: "Home"})%>


    <body>
        
        <%- include('./partials/header')%>

        <main>
            <section>
                <h3>Entretenimiento</h3>
                <div class="productos">
                    <% productos.forEach((row) => {%>
                    <article>
                        <a href="/products/description/<%=row.id %>"><img src="/img/<%= row.image %>" alt="imagen"></a>

                        <div class="info-articulos">
                            <h4 class = "name"> <%= row.name %><h4></h4>
                            <p class="precio"> $ <%= row.price %></p>
                            <p class="descuento"><%= row.discount %></p>
                            <h4 class = "desc-prod"> <%= row.description %><h4>
                        </div>
                    </article>
                     <% } ) %>
                </div>
            </section>
            
            </section>
            <div class="suscripcion">
                <h3>Suscribite a la lista de correo</h3>
                <a href="#">Suscribirse</a>
            </div>
        </main>
        
        <%- include('./partials/footer')%>


    </body>
</html>