<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head', {title: "ProductDetail"})%>

<body>
    <%- include('./partials/header')%>

    <main>
        <h2 class="cart-tittle">Cada vez mas cerca de tu nueva experiencia</h2>
        <div class="content">
            
            <div class="descripcionproducto">
                <img  class="imgdetalle" src="/img/<%=productoEncontrado.image%>" alt="Teatro Colon">

                <h2 class="detalletitulo"><%=productoEncontrado.name%></h2>

                <h5><%=productoEncontrado.description%></h5>

                <form id="option-count" id='myform' method='POST' class='quantity' action='#'>
                    <input type='button' value='-' class='qtyminus minus' field='quantity' />
                    <input type='text' name='quantity' value='0' class='qty' />
                    <input type='button' value='+' class='qtyplus plus' field='quantity' />
                </form>

                

                <p class="option-price"><%=productoEncontrado.price%></p>

                <div><i id="trash" class="fa-solid fa-trash"></i></div>

               
            </div>

            <div class="optiondetalle">
                <h2 class="option-tittle">Detalle</h2>
                <h3>Fecha</h3> <span><%=productoEncontrado.date%></span>
                <h3>Horario</h3> <span><%=productoEncontrado.time%></span>
                <h3>Duración</h3> <span><%=productoEncontrado.duration%></span>
                <h3>Cupo</h3><span><%=productoEncontrado.maximumCapacity%></span>
            </div>
        <div>

        </div>
    </main>

    <%- include('./partials/footer')%>

</body>
</html>
