<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head', {title: "Home"})%>

    <body>
        <%- include('./partials/header')%>


        <main id="formulario-registro">
            <h3>Completá tus datos</h3>
            <form class="formularios" action="/users/create" method="POST" enctype="multipart/form-data">
                <div>
                    <label>Nombre:</label>
                    <input class="text-field" type="text" name="name" value="<%= locals.oldData ? oldData.name : null%>">
                    <% if(locals.errors && errors.name) { %>
                        <p class="error">
                        <%= errors.name.msg %></p>
                    <% } %>
                </div>
            <div>
                    <label>Apellido:</label>
                    <input class="text-field" type="text" name="last_name" value="<%= locals.oldData ? oldData.last_name : null%>">
                    <% if(locals.errors && errors.last_name) { %>
                        <p class="error">
                        <%= errors.last_name.msg %></p>
                    <% } %>
            </div>
                <div>
                    <label>E-mail:</label>
                    <input class="text-field" type="email" name="email" value="<%= locals.oldData ? oldData.email : null%>">
                    <% if(locals.errors && errors.email) { %>
                        <p class="error">
                        <%= errors.email.msg %></p>
                    <% } %>
                </div>
                <div>
                    <label>Contraseña:</label>
                    <input class="text-field" type="password" name="password">
                    <% if(locals.errors && errors.password) { %>
                        <p class="error">
                        <%= errors.password.msg %></p>
                    <% } %>
                </div>
                <div>
                    <label>Repetí tu contraseña:</label>
                    <input class="text-field" type="password" name="repeat_password">
                </div>
                <div>
                    <label>Imagen del producto</label>
                    <input name="image" type="file">
                </div>
                <div>
                    <input type="radio" id="opcion1" name="opcion" value="Comprador">
                    <label for="opcion1">Comprador</label>
                    <input type="radio" id="opcion2" name="opcion" value="Administrador">
                    <label for="opcion2">Administrador</label>
                    <% if(locals.errors && errors.opcion) { %>
                        <p class="error">
                        <%= errors.opcion.msg %></p>
                    <% } %>
                </div>
                    <button class="botonForm botonSubmit" type="submit">Registrate</button>
                </div>
            </form>
        </main>

        <%- include('./partials/footer')%>

    </body>
</html>
